Import Libraries

In [22]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

Connect to sqlite db

In [23]:
db_file=r'datasets/datasets/salesdata.db'

In [24]:
engine=create_engine(r"sqlite:///{}".format(db_file))
inspector = inspect(engine)

Get table information

In [25]:
print(inspector.get_table_names())

['scores']

Run the query and store the results in a DataFrame

In [26]:
sql='SELECT * from scores'

In [27]:
sales_data_df=pd.read_sql(sql, engine)

Display the results of the DataFrame

In [19]:
sales_data_df

     name
0  scores